<!-- templates/user_form.html -->

<form method="post">
  First Name:<br>
  <input type="text" name="first_name" required><br>
  Middle Name (optional):<br>
  <input type="text" name="middle_name"><br>
  Last Name:<br>
  <input type="text" name="last_name" required><br>
  Experiences:<br>
  <input type="text" name="experiences"><br>
  Educations:<br>
  <input type="text" name="educations"><br>
  Email Address:<br>
  <input type="email" name="email" required><br>
  Address:<br>
  <input type="text" name="address" required><br>
  Phone Number:<br>
  <input type="tel" name="phone_number" required><br>
  <input type="submit" value="Save Profile">
</form>
